name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 6 * * 3'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      fail-fast: false
      matrix:
        name: [jvm, js, native]
        scala: ["2.12.*", "2.13.*", "3.*"]
        java: [8]
        include:
          - name: jvm
            scala: "2.13.*"
            java: 25
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: git config core.whitespace tab-in-indent,trailing-space,space-before-tab,cr-at-eol
    - run: git show --oneline --check
    - shell: bash
      name: install sbt
      run: curl -Ls https://raw.githubusercontent.com/dwijnand/sbt-extras/787e7a6c0523cbd995708aec2815a21917315079/sbt > ./sbt && chmod 0755 ./sbt
    - run: |
        case ${{ matrix.name }} in
          "jvm")
            ./sbt -v \
            -Dsbt.traces=true \
            -jvm-opts .github/workflows/.jvmopts \
            "++ ${{ matrix.scala }}" \
            scalafmtCheckAll \
            scalafmtSbtCheck \
            checkGenerateCodeError \
            "rootJVM/Test/compile" \
            "scalapropsTestNames" \
            "scalapropsJVM/test" \
            "scalazJVM/test" \
            "rootJVM/publishLocal" \
            ;;
          "js")
            ./sbt -v \
            -Dsbt.traces=true \
            -jvm-opts .github/workflows/.jvmopts \
            "++ ${{ matrix.scala }}" \
            "rootJS/Test/compile" \
            "scalapropsJS/test" \
            "scalazJS/test" \
            "rootJS/publishLocal"
            ;;
          "native")
            ./sbt -v \
            -Dsbt.traces=true \
            -jvm-opts .github/workflows/.jvmopts \
            "++ ${{ matrix.scala }}" \
            "scalapropsNative/test" \
            "scalazNative/test" \
            "rootNative/publishLocal"
            ;;
          *)
            echo "unknown job-name"
            exit 1
        esac
    - uses: xuwei-k/sbt-trace-action@v1
    - uses: mikepenz/action-junit-report@a294a61c909bd8a4b563024a2faa28897fd53ebc # v6.1.0
      if: ${{ always() && matrix.name == 'jvm' }}
      with:
        report_paths: '**/target/test-reports/*.xml'
        require_tests: true
        check_name: "${{ matrix.java }}-${{ matrix.scala }}-${{ matrix.name }}"
    - uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86
      if: ${{ always() && matrix.name == 'jvm' }}
      with:
        paths: '**/target/test-reports/*.xml'
    - run: rm -rf "$HOME/.ivy2/local"
  latest:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 25
        distribution: zulu
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - uses: sbt/setup-sbt@v1
    - run:
       sbt -v
       "++ 3.7.3!"
       rootJVM/Test/compile
       scalapropsJVM/test
       scalazJVM/test
