name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 6 * * 3'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      fail-fast: false
      matrix:
        name: [jvm, js, native]
        scala: [2_11, 2_12, 2_13, 3_0]
        exclude:
          - name: native
            scala: 3_0
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v10
      with:
        java-version: "adopt@1.8"
    - uses: coursier/cache-action@v6
    - run: git config core.whitespace tab-in-indent,trailing-space,space-before-tab,cr-at-eol
    - run: git show --oneline --check
    - run: |
        case ${{ matrix.name }} in
          "jvm")
            sbt -v \
            -sbt-opts .github/workflows/.sbtopts \
            "SetScala${{ matrix.scala }}" \
            scalafmtCheckAll \
            scalafmtSbtCheck \
            checkGenerateCodeError \
            "rootJVM/Test/compile" \
            "scalapropsTestNames" \
            "scalapropsJVM/test" \
            "scalazJVM/test" \
            "rootJVM/publishLocal" \
            ;;
          "js")
            sbt -v \
            -sbt-opts .github/workflows/.sbtopts \
            "SetScala${{ matrix.scala }}" \
            "rootJS/Test/compile" \
            "scalapropsJS/test" \
            "scalazJS/test" \
            "rootJS/publishLocal"
            ;;
          "native")
            sbt -v \
            -sbt-opts .github/workflows/.sbtopts \
            "SetScala${{ matrix.scala }}" \
            "scalapropsNative/test" \
            "scalazNative/test" \
            "rootNative/publishLocal"
            ;;
          *)
            echo "unknown job-name"
            exit 1
        esac
    - run: rm -rf "$HOME/.ivy2/local"
