name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 6 * * 3'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      fail-fast: false
      matrix:
        name: [jvm, js, native]
        scala: ["2.11.*", "2.12.*", "2.13.*", "3.*"]
        java: [8]
        include:
          - name: jvm
            scala: "2.13.*"
            java: 17
    steps:
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
    - uses: actions/setup-java@c3ac5dd0ed8db40fedb61c32fbe677e6b355e94c # v3.8.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: coursier/cache-action@60455feeb7a70875fc37e0228606262bbf361990 # v6.4.1
    - run: git config core.whitespace tab-in-indent,trailing-space,space-before-tab,cr-at-eol
    - run: git show --oneline --check
    - shell: bash
      name: install sbt
      run: curl -Ls https://raw.githubusercontent.com/dwijnand/sbt-extras/787e7a6c0523cbd995708aec2815a21917315079/sbt > ./sbt && chmod 0755 ./sbt
    - run: |
        case ${{ matrix.name }} in
          "jvm")
            ./sbt -v \
            -jvm-opts .github/workflows/.jvmopts \
            "++ ${{ matrix.scala }}" \
            scalafmtCheckAll \
            scalafmtSbtCheck \
            checkGenerateCodeError \
            "rootJVM/Test/compile" \
            "scalapropsTestNames" \
            "scalapropsJVM/test" \
            "scalazJVM/test" \
            "rootJVM/publishLocal" \
            ;;
          "js")
            ./sbt -v \
            -jvm-opts .github/workflows/.jvmopts \
            "++ ${{ matrix.scala }}" \
            "rootJS/Test/compile" \
            "scalapropsJS/test" \
            "scalazJS/test" \
            "rootJS/publishLocal"
            ;;
          "native")
            ./sbt -v \
            -jvm-opts .github/workflows/.jvmopts \
            "++ ${{ matrix.scala }}" \
            "scalapropsNative/test" \
            "scalazNative/test" \
            "rootNative/publishLocal"
            ;;
          *)
            echo "unknown job-name"
            exit 1
        esac
    - run: rm -rf "$HOME/.ivy2/local"
